POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=taskdb

DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=pass
DB_NAME=taskdb

JWT_SECRET=secretkey
BACKEND_PORT=5000

PGADMIN_DEFAULT_EMAIL=user@example.com
PGADMIN_DEFAULT_PASSWORD=pass